<body bgcolor="#E6E6FA">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% load crispy_forms_tags %}
<div class="container mt-4">

    <form  action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file_name }}
        <div style="text-align:center;">
          <b> Nova Issue </b>
        </div>
            {{ form|crispy }}
        <div style="text-align:center;">
          <input type="submit" value="Crea l'issue">
        </div>


    </form>
</div>
